.button{
    background: var(--purple);
    color: var(--white);
    font: var(--button);
    padding: 13px 24px;
    border-radius: 4px; 
    /*uppercase - es una palabra clave que fuerza a todos los 
    caracteres a ser convertidos a mayúsculas
    https://developer.mozilla.org/es/docs/Web/CSS/text-transform*/
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    /*Centrar el texto del boton*/
    text-align: center;
}

.button.is-secondary{
    /*unset restablece el valor de un elemento al valor 
    heredado, si es que heredó uno, y a su valor inicial 
    https://webdesign.tutsplus.com/es/tutorials/understanding-css-inheritance-inherit-initial-unset-and-revert-keywords--cms-34233*/
    background: unset;
    color:var(--purple);
    border: 2px solid var(--purple);

}