.header{
    /*El elemento es posicionado de acuerdo al flujo normal del
     documento, y luego es desplazado con relación a su ancestro
    que se desplace más cercano y su bloque contenedor */
    position: sticky;
    top: 0;
    /*permite aplicar efectos gráficos como el desenfoque o el cambio de 
    color al área detrás de un elemento
    https://developer.mozilla.org/es/docs/Web/CSS/backdrop-filter*/
    backdrop-filter: blur(10px);
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*La propiedad de CSS block-size CSS define el 
    tamaño horizontal o vertical de los elementos en bloque, 
    dependiendo de los modos de escritura. estos corresponden 
    ya sea a la propiedad width o la propiedad height
    https://developer.mozilla.org/es/docs/Web/CSS/block-size*/
    block-size: 80px;
    
}